body {
	background: -webkit-linear-gradient(90deg, #e53935 10%, #e35d5b 90%);
	/* Chrome 10+, Saf5.1+ */
	background: -moz-linear-gradient(90deg, #e53935 10%, #e35d5b 90%);
	/* FF3.6+ */
	background: -ms-linear-gradient(90deg, #e53935 10%, #e35d5b 90%);
	/* IE10 */
	background: -o-linear-gradient(90deg, #e53935 10%, #e35d5b 90%);
	/* Opera 11.10+ */
	background: linear-gradient(90deg, #e53935 10%, #e35d5b 90%); /* W3C */
	font-family: sans-serif;
}

html {
	position: relative;
    min-height: 100%;
}

.header {
	margin-top: 5px;
	margin-bottom: 2px;
	opacity: .9;
	border-radius: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color: White;
}

.logout {
	background-color: white;
	font-size: large;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	color: #e35d5b;
	margin-left: 30px;
	margin-right: 30px;
	float: right;
	border: none;
}

.next {
	background-color: #e35d5b;
	font-size: x-large;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	color: white;
	margin-left: 30px;
	margin-right: 30px;
	border: none;
	margin-bottom: 25px;
}

.fake {
	background-color: white;
	font-size: large;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	color: #e35d5b;
	margin-left: 30px;
	margin-right: 30px;
	float: left;
	border: none;
	opacity: .0;
}

.back {
	background-color: white;
	font-size: large;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	color: #e35d5b;
	margin-left: 30px;
	margin-right: 30px;
	float: left;
	border: none;
}

.grade {
	background-color: white;
	line-height: 2.5;
	opacity: .8;
	padding-left: 30px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: x-large;
	color: #2c2c2c;
	border-radius: 10px;
	text-align: center;
}

select {
	font-family: sans-serif;
	background-color: transparent;
	height: 70px;
	width: 300px;
	font-size: xx-large;
	color: Black;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

footer {
	background-color: white;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	font-size: medium;
	text-align: center;
	color: #e35d5b;
}

.block1 {
	width: 45%;
	display: inline-block;
	height: 300px;
	background-image: url(media/black.jpg);
	opacity: .7;
	border-radius: 20px;
	margin-right: 2%;
	margin-left: 3%;
	margin-bottom: 25px;
}

.block2 {
	width: 45%;
	display: inline-block;
	height: 300px;
	background-image: url(media/black.jpg);
	opacity: .7;
	border-radius: 20px;
	margin-right: 3%;
	margin-left: 2%;
	margin-bottom: 25px;
}

.block3 {
	width: 45%;
	display: inline-block;
	height: 300px;
	background-image: url(media/black.jpg);
	opacity: .7;
	border-radius: 20px;
	margin-right: 2%;
	margin-left: 3%;
	margin-bottom: 25px;
}

.block4 {
	width: 45%;
	display: inline-block;
	height: 300px;
	background-image: url(media/black.jpg);
	opacity: .7;
	border-radius: 20px;
	margin-right: 3%;
	margin-left: 2%;
	margin-bottom: 25px;
}

.block5 {
	width: 45%;
	display: inline-block;
	height: 300px;
	background-image: url(media/black.jpg);
	opacity: .7;
	border-radius: 20px;
	margin-right: 2%;
	margin-left: 3%;
	margin-bottom: 25px;
}

.block6 {
	width: 45%;
	display: inline-block;
	height: 300px;
	background-image: url(media/black.jpg);
	opacity: .7;
	border-radius: 20px;
	margin-right: 3%;
	margin-left: 2%;
	margin-bottom: 25px;
}

input {
	padding-top: 13px;
	padding-bottom: 7px;
	font-size: medium;
}

.form-input {
	text-align: center;
}

input {
	width: 300px;
}

label {
	width: 500px;
	background-color: black;
}

h2 {
	color: white;
	text-align: center;
	font-size: 60px;
	margin-top: 100px;
}

h1 {
	color: white;
	text-align: center;
	font-size: 60px;
	padding-bottom: 50px;
}
